.container-fluid {
    padding: 0 !important;
}

.ventas {
    background-color: #ff9900 !important;
    width: 100% !important;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.alquileres {
    background-color: #ffad33 !important;
    width: 100% !important;
    /* padding-top: 6rem; */
}

.card-footer {
    display: flex !important;
    /* right: 0; */
    justify-content: flex-end !important;
}

.tag {
    background-color: rgb(31, 26, 23);
    float: left;
    width: 200px;
    height: auto;
    font-family: 'Museo500-Regular', sans-serif;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom-right-radius: 10px;
    display: block;
    /* margin-top: -50px; */
    color: white;
    text-align: center;
}

.biography {
    display: block;
    display: -webkit-box;
    height: 84px;
    font-size: 1rem;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .flush-with-above {
    background-color: rgba(102, 255, 102, 0.1);
    padding-top: 5rem;
  }

  .flush-with-above > .container > ul {
      padding-top: 3rem;
  }

  .custom-card {
    height: 700px;
  }

  .custom-inside-card {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .custom-inside-card {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .text-2xl {
    font-size: 1.2rem;
    height: 47px;
  }
  
  .body-inside-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .img-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-bottom > a > img {
    width: auto;
    height: 13rem;
  }