


<div class="basic-2">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-xl-12">
              <div class="text-container">
                  <h3>NOSOTROS</h3>
                  <p> Somos una empresa dedicada a prestar servicios inmobiliarios. Lo nuestro no se limita  a alquilar, vender o tasar un inmueble. Nos importa la atención  personalizada de quien nos contacta, atendiendo necesidades y brindando soluciones para su entera satisfacción. Disponemos de las herramientas necesarias para asesorar idóneamente  en lo que necesite. Tenemos base en General Madariaga, Buenos Aires, Costa Atlántica argentina.
                    No somos una inmobiliaria grande. Pero intentamos  ser una gran inmobiliaria.  Y sobre todo... establecer relaciones que perduren  en el tiempo. Estamos  habilitados por el Colegio de Martilleros y Corredores Públicos del Departamento Judicial de Dolores.</p>
              </div>
          </div>
          <div class="col-lg-12 col-xl-12">
            <div class="div-cv">
              <ul class="list-unstyled list-spacing-sm mb-5 ">
                <li class="row">
                    <div class="col-10">Julieta Chalita Crinigan</div>
                </li>
                <li class="row">
                  <div class="col-10">DNI 16.463.650 <br>
                    Mat. 1036. Tº 3.  Fº 323. CMyCPD. <br>
                    Consultora Inmobiliaria.  Cámara Inmobiliaria Argentina. <br>
                    Tasadora, Martillera pública, Corredora inmobiliaria, Universidad de Morón. <br>
                    Perito Judicial en Departamento Judicial de Dolores. <br>
                    Tasadora nómina  del Banco de la Provincia de Buenos Aires. <br>
                    Consultora en Creación y Gestión de Destinos turísticos. Universidad de  Salamanca.


                    </div>
              </li>
              </ul>
              <img alt="Image-cv" src="/assets/img/chalita/photo-cv.png" class="rounded-circle" />

            </div>
        </div>
      </div>
  </div>
</div>