<div class="container-fluid">
    <section  class="space-sm">
        <div class="container tag">         
                
                    Nosotros
                
        </div>
        <div class="row col-12 text-about">
            <p>


                    Somos una empresa dedicada a  servicios inmobiliarios. Nos importa la atención  personalizada de quien nos contacta, atendiendo necesidades y brindando soluciones para su entera satisfacción. Lo nuestro no se limita a un alquiler o una venta. Disponemos de las herramientas necesarias para asesorar idóneamente  en lo que necesite. Tenemos base en General Madariaga, Buenos Aires, Costa Atlántica argentina.
No somos una inmobiliaria grande. Pero intentamos  ser una gran inmobiliaria.  Y sobre todo... establecer relaciones que perduren  en el tiempo. Estamos  habilitados por el Colegio de Martilleros y Corredores Públicos del Departamento Judicial de Dolores. <br>



                    <!-- Somos una empresa que presta servicios inmobiliarios. Nos dedicamos principalmente al turismo zonal en la costa atlántica, zona rural y poblaciones aledañas con fuerte interés 
                <br>
                <br>
                en abrirse al turismo interno y externo. Disponemos de las herramientas para asesorar idóneamente. Tenemos base en General Madariaga, provincia de Buenos Aires, Argentina. 
                <br>
                <br>
                Estamos habilitados por el Colegio de Martilleros y Corredores Públicos del Departamento Judicial de Dolores. -->
            </p>

        </div>
        <div class="col-12 col-md-12 card-body">
            <div class="div-cv">
              <!-- <div class="mb-5 text-center">
                <h3 class="h2 mb-2">Features &amp; Benefits</h3>
                <span>All plans come with 14 days free</span>
              </div> -->
              <ul class="list-unstyled list-spacing-sm mb-5 ">
                <li class="row">
                    <!-- <div class="col-2 col-md-1"><i class="icon-check h5 text-muted"></i>
                    </div> -->
                    <div class="col-10">Julieta Chalita Crinigan</div>
                </li>
                <li class="row">
                  <div class="col-2 col-md-1"><i class="icon-check h5 text-muted"></i>
                  </div>
                  <div class="col-10">Tasadora</div>
                </li>
                <li class="row align-items-center">
                  <div class="col-2 col-md-1"><i class="icon-check h5 text-muted"></i>
                  </div>
                  <div class="col-10">Martillera pública</div>
                </li>
                <li class="row">
                  <div class="col-2 col-md-1"><i class="icon-check h5 text-muted"></i>
                  </div>
                  <div class="col-10">Corredora inmobiliaria</div>
                </li>
                <li class="row align-items-center">
                  <div class="col-2 col-md-1"><i class="icon-check h5 text-muted"></i>
                  </div>
                  <div class="col-10">Perito judicial</div>
                </li>
                <li class="row align-items-center">
                    <div class="col-2 col-md-1"><i class="icon-check h5 text-muted"></i>
                    </div>
                    <div class="col-10">Tasadora Oficial Banco de la Pcía de Bs As.</div>
                  </li>
              </ul>
              <img alt="Image" src="/assets/img/chalita/chalita-cv.png" class="avatar avatar-lg" />

              <!-- <div class="card card-sm shadow text-left">
                <div class="card-body p-4">
                  <div class="media">
                    <img alt="Image" src="assets/img/avatar-male-1.jpg" class="avatar avatar-xs" />
                    <div class="media-body">
                      <p class="mb-1 text-small">
                        “Let’s get one thing straight, this theme’s a straight-up winner. No posers here, just beautiful design and code.”
                      </p>
                      <small>Daniel Cameron</small>
                    </div>
                  </div>
                </div>
              </div> -->

            </div>
          </div>
          <!--end of col-->
        <!--end of container-->
    </section>
    <!--end of section-->
</div>