<div class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12" *ngIf="property != null">
                <section class="custom">



                    <carousel class="d-flex justify-content-center">
                        <slide class="slide-carousel" *ngFor="let slide of slides; let index=index">
                            <img [src]="slide.image" alt="image slide" class="inside-carousel">

                            <div class="carousel-caption">
                            </div>
                        </slide>
                    </carousel>


                </section>
                <section *ngIf="property != null" class="section-custom">
                    <div class="row justify-content-left custom-row">
                        <div class="col-12 col-md-8 col-lg-7 features-container">
                            <article class="principal-features">
                                <h4> {{property.name}}</h4>

                                <h6 class="tag"> Descripción</h6>

                                <p>
                                    {{ property.description }}
                                </p>


                                <h6 class="tag"> Tipo de Propiedad </h6>

                                <p> {{ property.kindProperty }} </p>

                                <h6 class="tag"> Tipo de Operacion </h6>

                                <p> {{ property.kindOperation }} </p>


                            </article>

                        </div>
                        <!--end of col-->
                        <div class="col-12 col-md-4">
                            <div class="card pricing col-lg-12">
                                <div class="card-body">
                                    <h5> {{ property.price }} </h5>
                                </div>
                            </div>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <div><i class="icon-home mr-1"></i> Habitaciones</div>
                                            <span>{{ property.rooms }}</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <div><i class="icon-home mr-1"></i> Baños</div>
                                            <span>{{ property.bathroom }}</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <div><i class="icon-home mr-1"></i> Cocheras</div>
                                            <span>{{ property.garage }}</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <div><i class="icon-home mr-1"></i> Estado</div>
                                            <span>{{ property.state }}</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <div><i class="icon-home mr-1"></i> Localidad</div>
                                            <span>{{ property.location }}</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <div><i class="icon-home mr-1"></i> Codigo</div>
                                            <span>{{ property.code }}</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <div><i class="icon-home mr-1"></i> Superficie lote</div>
                                            <span>{{ property.surfaceTotal }}</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <div><i class="icon-home mr-1"></i> Superficie cubierta</div>
                                            <span>{{ property.surfaceCover }}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <div class="row justify-content-left ">
                        <iframe class="map" [src]='url' allowfullscreen></iframe>

                    </div>
                </section>



            </div>
        </div>
    </div>
</div>

<app-waiting *ngIf="property == null"></app-waiting>