.row > .col-sm > .form-row > button {
    height: 2.2rem;
}

.color-white {
    color: white;
}

.images-10 > div > div > p, a {
    color: white;
}

.images-10 > div > div > input {
    color: white;
}